/* General container for the settings page */
.settings-container {
  width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.settings-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Button styling for Save and Close */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.close-btn,
.save-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.close-btn {
  background-color: #ccc;
  color: #333;
}

.save-btn {
  background-color: #6c757d;
  color: white;
}

.close-btn:hover {
  background-color: #a3a3a3;
}

.save-btn:hover {
  background-color: #5a6268;
}

/* Task Request Section */
.task-request {
  margin-bottom: 20px;
}

/* Task Request Title */
.task-request h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

/* Task Dropdown */
.task-request select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #333;
  margin-bottom: 10px;
}

/* Hover effect for dropdown */
.task-request select:hover {
  background-color: #e6e6e6;
}

/* File Upload Input */
.task-request input[type="file"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  color: #333;
}

/* Hover effect for file input */
.task-request input[type="file"]:hover {
  background-color: #e6e6e6;
}

/* Add Upload Field Button */
.add-upload-field {
  background-color: #d1d7d6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 15px;
  color: #000;
  margin-top: 10px;
  width: 100%;
}

/* Hover effect for the button */
.add-upload-field:hover {
  background-color: #b0b8b6;
}
