html, body {
  font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif; /* Custom fonts with fallbacks */
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
